/*
 * Portfolio Main Page CSS
 * @author: Vo, Dinh Tue Minh
 */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Emblema+One&display=swap"); /* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); /* Code font */


/* global variables */
:root {
  /* font */
  --primary-font-family: "Libre Baskerville", serif;
  --secondary-font-family: "Julius Sans One", sans-serif;
  --logo-font-family: "Emblema One", cursive;
  --code-font-family: "IBM Plex Sans", sans-serif;
  --font-size-logo: 3rem;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-h4: 0.9rem;
  --font-size-p: 0.85rem;
  --font-weight-normal: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --primary-font-color: #ffffff;
  --accent-font-color: #325050;
  --line-height: 1.5;
  /* colors */
  --primary-color: rgb(255, 255, 255);
  --primary-color-light: rgb(255, 255, 255);
  --primary-color-dark: rgba(243, 241, 241);
  --secondary-color: rgb(53, 54, 58);
  --secondary-color-dark: rgb(44, 45, 49);

  --accent-color: #fd9290;
  --accent-color-light: #f79c9b;
  --accent-color-dark: #f77472a2;

  /* code colors */
  --code-keyword: #1a1aff;
  --code-class: #008080;
  --code-attribute: #7b2cb3;
  --code-value: #a31515;

  /* spacing */
  --space-small: 0.5rem;
  --space-normal: 1rem;
  --space-medium: 2rem;
  --space-large: 3rem;
  /* border */
  --border-radius: 0.5rem;

  font-size: 16px;
}

[data-theme="dark"] {
  /* font color  */
  --primary-font-color: #325050;
  --accent-font-color: #ffffff;

  /* background color  */
  --primary-color: rgb(53, 54, 58);
  --primary-color-light: rgb(64, 65, 70);
  --primary-color-dark: rgb(44, 45, 49);
  --secondary-color: rgb(255, 255, 255);
  --secondary-color-dark: rgb(255, 255, 255, 0.85);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--primary-font-family);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  color: var(--accent-font-color);
  background-color: var(--primary-color);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p {
  font-size: var(--font-size-p);
  line-height: 2;
  margin: var(--space-small) 0;
}

quote {
  font-size: var(--font-size-p);
  font-style: italic;
}

strong {
  font-weight: var(--font-weight-bold);
}

code {
  font-family: var(--code-font-family);
}

/* 
.rotating-background {
  background: var(--primary-color);
  background-image: linear-gradient(90deg, var(--primary-color), var(--primary-color-light), var(--primary-color));
  background-size: 600%;
  animation: rotating-background 30s infinite;
}

@keyframes rotating-background {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
} */

.rotating-background {
  background-color: var(--primary-color);
}

.animation-link {
  position: relative;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  background-image: linear-gradient(to right, var(--accent-color) 50%, var(--accent-font-color) 50%);
  background-size: 200%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-position 0.5s ease-in-out;
  background-position: right;
}

.animation-link:hover,
.animation-link:focus {
  outline: none;
  background-position: left;
}

.animation-link::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  border: 1px solid var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.animation-link:hover::before,
.animation-link:focus::before {
  transform: scaleX(1);
}

noscript {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  background-color: var(--accent-font-color);
  color: var(--primary-font-color);
}

/* -------------------------------------------------------------------------------- */
/* loading screen */
#content-page {
  display: none;
  margin: 0;
  padding: 0;
}

#preloader {
  display: block;
  background-color: rgb(53, 54, 58);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#preloader > p {
  font-size: 10em;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--logo-font-family);
}

#preloader > p:nth-child(1) {
  -webkit-clip-path: polygon(0 47%, 23% 45%, 27% 100%, 0 100%); 
  clip-path: polygon(0 47%, 23% 45%, 27% 100%, 0 100%);
  color: white;
  animation: logo-left-animation 0.5s linear; 
}

#preloader > p:nth-child(2) {
  -webkit-clip-path: polygon(46% 2%, 60% 53%, 52% 95%, 30% 94%, 12% 9%);
  clip-path: polygon(46% 2%, 60% 53%, 52% 95%, 30% 94%, 12% 9%);
  color: white;
  animation: log-center-animation 0.5s linear;
}

#preloader > p:nth-child(3) {
  -webkit-clip-path: polygon(58% 8%, 94% 3%, 97% 100%, 60% 100%); 
  clip-path: polygon(58% 8%, 94% 3%, 97% 100%, 60% 100%);
  color: white;
  animation: logo-right-animation 0.5s linear;
}

@keyframes logo-left-animation {
  0% {
    opacity: 0%;
    left: 45%;
  }
  100% {
    opacity: 100%;
    left: 50%;
  }
}

@keyframes logo-center-animation {
  0% {
    opacity: 0%;
    top: 45%;
  }
  100% {
    opacity: 100%;
    top: 50%;
  } 
}

@keyframes logo-right-animation {
  0% {
    opacity: 0%;
    left: 55%;
  }
  100% {
    opacity: 100%;
    left: 50%;
  }
}

#spinner {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#spinner::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#spinner::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* loading screen */
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* navigation */

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  transition: top 0.5s ease-in-out;
}

header.hide {
  top: calc(var(--space-large) * -2);
}

.nav-container {
  width: 100%;
  height: calc(var(--space-large) * 1.5);
  padding: 0 var(--space-medium);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--primary-color-dark);
}

header a {
  text-decoration: none;
  font-size: var(--font-size-h4);
  text-transform: uppercase;
}

/* logo */
.logo-container {
  flex-grow: 1;
}

.logo {
  font-family: var(--logo-font-family);
  font-size: var(--font-size-logo);
  font-weight: var(--font-weight-normal);
  color: var(--accent-font-color);
  z-index: 1000;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.logo:hover,
.logo:focus {
  outline: none;
  color: var(--accent-color);
}
  
/* theme toggle button */
.theme-toggle-wrapper {
  flex-grow: 0;
  overflow: hidden;
  margin-right: var(--space-medium);
}

#theme-toggle-checkbox {
  display: none;
}

.toggle-button {
  display: flex;
  align-items: center;
  position: relative;
  width: calc(var(--space-medium) * 2);
  height: var(--space-medium);
  padding: 0;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: calc(calc(var(--space-medium) * 2) - 5px);
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.theme-indicator {
  display: inline-block;
  position: relative;
  width: calc(var(--space-medium) - 10px);
  height: calc(var(--space-medium) - 10px);
  margin: 0 5px;
  background-color: #FFCF96;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
              background-color 200ms ease-in-out;
  /* transform: rotate(-45deg); */
}

#theme-toggle-checkbox:checked + .toggle-button {
  background-color: var(--primary-color);
}

#theme-toggle-checkbox:checked + .toggle-button > .theme-indicator {
  background-color: var(--primary-color);
  transform: translateX(calc(var(--space-medium) - 10px));
  box-shadow: 10px 0 0 0 #FFE5B5;
}

/* nav menu toggle */
.nav-toggle-button {
  width: var(--font-size-h3);
  height: var(--font-size-h3);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  cursor: pointer;
}

.hamburger-bar,
.hamburger-bar::before,
.hamburger-bar::after {
  position: relative;
  display: inline-block;
  background: var(--secondary-color);
  height: 3px;
  width: var(--font-size-h3);
  /* border-radius: 2px; */
  transition: all 0.4s linear;
  /* box-shadow: 0 1px 2px var(--secondary-color-dark); */
}

.hamburger-bar::before,
.hamburger-bar::after {
  content: "";
  position: absolute;
}

.hamburger-bar::before {
  bottom: 8px;
}

.hamburger-bar::after {
  top: 8px;
}

.nav-toggle-button:hover .hamburger-bar,
.nav-toggle-button:hover .hamburger-bar::before,
.nav-toggle-button:hover .hamburger-bar::after {
  background: var(--accent-color);
}

/* toggle animation */
.hamburger.action .hamburger-bar{
  transform: translateX(50px);
  background: transparent;
}

.hamburger.action .hamburger-bar::before {
  transform: translateX(-50px) rotate(45deg) translate(6.5px, 5px);
}

.hamburger.action .hamburger-bar::after {
  transform: translateX(-50px) rotate(-45deg) translate(6.5px, -5px);
}

/* navigation menu */
.nav-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  padding-top: var(--space-medium);
  top: calc(var(--space-large) * 1.5);
  display: flex;
  font-family: var(--secondary-font-family);
  text-align: left;
  background: var(--secondary-color);
  transition: all 0.4s linear;
  left: -100%;
}

.nav-menu.active {
  left: 0%;
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  display: block;
}

.nav-menu-item {
  max-width: 50vw;
  min-width: calc(var(--space-large) * 5);
  position: relative;
  margin: var(--space-medium) var(--space-medium);
  height: var(--font-size-h2);
  display: flex;
  justify-content: left;
  align-items: center;
  border-left: 2px solid var(--accent-color);
  transition: 0.5s;
  left: 0;
}

.nav-menu-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transition: 0.5s;
  transform: scaleX(0); 
  transform-origin: left;
}

.nav-menu-item:hover::before {
  transform: scaleX(1);
}

.nav-menu-item:hover {
  outline: none;
  left: var(--space-normal);
}

.nav-menu-item.active {
  left: var(--space-normal);
}

.nav-menu-item a {
  z-index: 100;
  transition: color 0.2s ease-in-out;
  padding-left: var(--space-normal);
  width: 100%;
  text-decoration: none;
  color: var(--primary-font-color);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
}

.nav-menu-item a:focus {
  outline: none;
  color: var(--accent-color); 
}

.nav-menu-item:hover a {
  color: var(--accent-font-color);
}

/* navigation */
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/* section in common */

.section-title {
  text-align: center;
  position: sticky;
  padding: calc(var(--space-small) * 0.5);
  top: 0;
  background-color: var(--primary-color);
  color: var(--accent-font-color);
  z-index: 99;
  margin: var(--space-medium) 0;
  line-height: 1.25;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.section-title h2 {
  padding-top: var(--space-small);
}

.section-title quote {
  display: block;
  font-size: calc(var(--font-size-p) * 0.8);
  margin-bottom: var(--space-small);
}

.section-container {
  position: relative;
  margin: calc(var(--space-large) * 2) var(--space-small);
}

.social-bag {
  display: block;
  margin: var(--space-normal) 0;
  list-style: none;
}

.social-bag li {
  margin-bottom: var(--space-small);
}

.social-bag li a {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  transition: color 0.5s;
}

.social-bag li a:hover,
.social-bag li a:focus {
  outline: none;
  color: var(--accent-color);
}

.social-bag li svg {
  width: var(--font-size-h3);
  height: var(--font-size-h3);
  margin-right: var(--space-small);
}

/* section in common */
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* home */
#home {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--font-size-logo) * var(--line-height));
  color: var(--accent-font-color);
  min-width: calc(var(--space-medium) * 9); 
}

.home-intro > p {
  align-self: flex-start;
  color: var(--accent-font-color);
  margin: 0;
}

.home-intro > hr {
  width: 100%;
  margin: var(--space-small) 0;
}

/* social links */
.social-container {
  /* width: 80%; */
  width: 40%;
  margin-top: var(--space-small);
  display: block;
}

.social-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-container li {
  height: var(--font-size-h1);
  width: var(--font-size-h1);
  
}

.social-container a {
  text-decoration: none;
  color: var(--accent-font-color);
  transition: 0.15s;
}

.social-container a:focus {
  outline: none;
  color: var(--accent-color);
}

.social-container li:hover a {
  color: var(--accent-color);
}

.social-container svg {
  transition: 0.15s;
}

.social-container li:hover svg {
  transform: scale(1.25);
}

/* resume button */
.special-btn {
  z-index: 0;
  margin: var(--space-normal);
  width: calc(var(--font-size-h2) * 6);
  height: calc(var(--font-size-h2) * var(--line-height));
  background-color: var(--primary-color-dark);
}

.special-btn a {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  padding: var(--space-small) var(--space-normal);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: calc(var(--font-size-h4) * 0.8);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-font-color);
  font-weight: var(--font-weight-bold);
  transition: all 0.5s ease-in-out;
  line-height: 1;
}

/* animation */
.special-btn a:hover,
.special-btn a:focus {
  outline: none;
  border-radius: var(--border-radius);
  background: var(--accent-color);
  box-shadow: 0px 20px 30px -10px var(--accent-color);
  color: white;
}

.special-btn a:hover span,
.special-btn a:focus span {
  opacity: 0;
}

.special-btn span {
  position: absolute;
  display: block;
  transition: all 0.5s ease-in-out;
}

.special-btn span:nth-child(1) { /* top */
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--secondary-color));
  animation: special-btn-top-ani 4s linear infinite;
}

@keyframes special-btn-top-ani {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.special-btn span:nth-child(2) { /* right */
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--secondary-color));
  animation: special-btn-right-ani 4s linear 2s infinite;
}

@keyframes special-btn-right-ani {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

.special-btn span:nth-child(3) { /* bottom */
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--secondary-color));
  animation: special-btn-bottom-ani 4s linear infinite;
}

@keyframes special-btn-bottom-ani {
  0% {
    right: -100%;
  }
  100%{
    right: 100%;
  }
}

.special-btn span:nth-child(4) { /* left */
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--secondary-color));
  animation: special-btn-left-ani 4s linear 2s infinite;
}

@keyframes special-btn-left-ani {
  0% {
    bottom: -100%;
  }
  100%{
    bottom: 100%;
  }
}

/* availability */
#availability-link {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
  display: none;
}
#availability-link.active {
  display: unset;
}

/* person card */
.person-card-container {
  margin-bottom: var(--space-large);
  padding: var(--space-medium);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-radius: var(--border-radius);
  box-shadow: var(--secondary-color-dark) 0px 25px 25px -20px;
}

.person-card {
  height: calc(var(--font-size-p) * 15);
  width: calc(var(--font-size-p) * 22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #325050;
}

.person-card pre {
  font-size: var(--font-size-p);
  line-height: var(--line-height);
}

.code-keyword {
  color: var(--code-keyword);
}

.code-class {
  color: var(--code-class);
}

.code-attribute {
  color: var(--code-attribute);
}

.code-value {
  color: var(--code-value);
}


/* #person-card__skill {
  display: inline-block;
  width: calc(var(--font-size-p) * 5);
  text-align: center;
} */

.person-card-control {
  position: absolute;
  overflow: visible;
  top: calc(var(--space-small) * -1);
  height: calc(var(--font-size-h3) * 0.8);;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.15);
}

.person-card-btn {
  border: none;
  width: calc(var(--font-size-h3) * var(--line-height));
  height: calc(var(--font-size-h3) * var(--line-height));
  margin: calc(var(--space-normal) * 0.5);
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: color 0s, transform 0.15s;
  color: #325050;
}

.person-card-btn.active {
  background: var(--accent-color);
  color: white;
  /* box-shadow: 0 0 5px var(--accent-color); */
}

.person-card-btn:hover,
.person-card-btn:focus  {
  outline: none;
  transform: scale(1.25);
}

.person-card-btn svg {
  width: var(--font-size-h3);
  height: var(--font-size-h3); 
  transition: 0.15s;
}

.person-card-btn:hover svg {
  transform: scale(1.25);
}

/* indicator */
.scroll-down-container {
  position: fixed;
  bottom: var(--space-small);
  cursor: pointer;
}

.scroll-down-container a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.5s linear;
}

.scroll-down-container a:hover,
.scroll-down-container a:focus {
  outline: none;
  color: var(--accent-color);
}

.scroll-down-container.hidden {
  display: none;
}

.scroll-down-arrow {
  display: block;
  border-right: 2px solid;
  border-bottom: 2px solid;
  width: var(--font-size-p);
  height: var(--font-size-p);
  transform: rotate(45deg);
  animation: mouse-scroll 2s infinite ease-in-out;
  opacity: 0;
  z-index: 98;
}

.scroll-down-arrow:nth-child(1) {
  margin-bottom: -5px;
}

.scroll-down-arrow:nth-child(2) {
  animation-delay: 0.25s;
}

.scroll-down-arrow:nth-child(3) {
  margin-top: -5px;
  animation-delay: 0.5s;
}

@keyframes mouse-scroll {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 50%;
  }
  100% {
    opacity: 0%;
  }
}

/* home */
/* -------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------- */
/* portfolio */

.portfolio-intro {
  display: flex;
  flex-direction: column;
}

.portfolio-intro > div ul {
  margin: var(--space-small) 0;
}

.portfolio-intro > div span {
  display: inline-block;
  width: 80px;
  font-weight: var(--font-weight-bold);
}

.portfolio-intro li {
  margin-left: var(--space-large)
}

.portfolio-intro aside {
  margin: var(--space-large) 0;
  padding: var(--space-normal);
  border-radius: var(--border-radius);
  color: var(--accent-font-color);
  background-color: var(--primary-color-dark);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.portfolio-intro aside h3 {
  text-align: center;
}

.portfolio-intro aside a {
  color: var(--accent-font-color);
}

/* project cards */
.project-container {
  display: grid;
  margin-top: var(--space-medium);
  grid-gap: calc(var(--space-medium) + 1vw);
  grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
  padding: var(--space-medium) 0;
  width: 100%;
  height: 100%;
}

.project-card-container {
  position: relative;
  width: 100%;
  z-index: 1;
  perspective: 1000px;
}

.project-card {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transition: transform 0.35s ease-in-out;
  background-color: var(--primary-color-dark);
}

.project-card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.project-card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--space-small) var(--space-normal);
}

.project-card-content {
  z-index: 100;
  flex-grow: 1;
}

.project-card-content h3 {
  text-align: center;
}

.project-card-content p {
  margin: 0;
  text-align: left;
}

.project-card-aside {
  z-index: 100;
  display: flex;
  margin-left: var(--space-medium);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card-aside a {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  padding: 8px;
  background-color: var(--primary-color);
  margin-bottom: var(--space-small);
  text-decoration: none;
  color: var(--accent-font-color);
  border-radius: var(--border-radius);
  transition: color 0.5s ease-in-out;
}

.project-card-aside a:hover {
  color: var(--accent-color);
}

.project-card-meta {
  margin: var(--space-normal) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: var(--accent-font-color);
}

.project-card-meta span {
  padding: 8px;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-family: var(--code-font-family);
  font-size: calc(var(--font-size-p) * 0.5);
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: calc(var(--space-small) * 0.5);
}

/* card flip */
.project-card-container:hover .project-card {
  transform: rotateX(10deg) translateY(-6px);
}

/* shadow */
.project-card-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  transform-origin: top center;
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}

.project-card-container:hover::before {
  opacity: 0.6;
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

/* gloss */
.project-card-cover {
  overflow: hidden;
}

.project-card-cover::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 200%;
  opacity: 0.8;
  background-image: linear-gradient(rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.4) 35%, rgba(255,255,255,0.2) 42%, rgba(255,255,255,0) 60%);
  transform: translateY(-40%);
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1), opacity 0.65s ease-in-out;
}

.project-card-container:hover .project-card-cover::after {
  opacity: 1;
  transform: translateY(-30%) scaleY(1.5);
}

/* portfolio */
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* about */

.about-skill {
  position: relative;
  width: 100%;
  display: grid;
  padding-bottom: var(--space-large);
} 

/* .about-skill {
  position: relative;
  width: 100%;
  display: grid;
  grid-gap: calc(1rem + 1vw);
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
  background: var(--secondary-color);
  margin-top: var(--space-large);
  border-radius: var(--border-radius);
}  */

.skill-container {
  position: relative;
  display: block;
  width: 100%;
  margin-top: var(--space-medium);
  padding-bottom: var(--space-medium);
  background-color: var(--primary-color-dark);
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.skill-container h3 {
  text-align: center;
  color: var(--accent-font-color);
  font-weight: var(--font-weight-bold);
  padding: var(--space-normal);
}

.skill-container ul {
  list-style: none;
  position: relative;
  width: 100%;
  display: grid;
  padding: 0 var(--space-small);
  grid-gap: var(--space-normal);
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
  justify-items: center;
  align-items: center;
}

.skill-container li {
  background-color: transparent;
  min-width: calc(var(--space-medium) * 5);
  height: 64px;
  perspective: 200px; /* 3d rotating-effect */
}

.skill-item {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 1s;
  transform-style: preserve-3d;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
}

.skill-container li:hover .skill-item {
  transform: rotateY(150deg);
}

.skill-icon, 
.skill-name {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
}

.skill-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-icon img {
  height: 48px;
}

.skill-name {
  width: 100%;
  height: 100%;
  color: var(--accent-font-color);
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--code-font-family);
  font-weight: var(--font-weight-bold);
}

/* about */
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* faqs */

#faqs .section-container {
  padding-bottom: var(--space-medium);
  overflow: hidden;
}

.speech-bubble-left-container,
.speech-bubble-right-container {
  display: flex;
  width: 100%;
  transition: opacity 0.5s linear, transform 0.25s ease-in;
  opacity: 0;
}

.speech-bubble-left-container.active,
.speech-bubble-right-container.active {
  opacity: 1;
}

.speech-bubble-left-container {
  justify-content: flex-start;
  padding-left: var(--space-normal);
  transform: translateX(calc(var(--space-large) * -1));
}

.speech-bubble-left-container.active {
  transform: translateX(0);
}

.speech-bubble-right-container {
  justify-content: flex-end;
  padding-right: var(--space-normal);
  transform: translateX(calc(var(--space-large)));
  margin-bottom: var(--space-medium);
}

.speech-bubble-right-container.active {
  transform: translateX(0);
}

.speech-bubble-left,
.speech-bubble-right {
  width: 80%;
  position: relative;
  display: block;
  margin: var(--space-small);
  border-radius: var(--border-radius);
}

.speech-bubble-left {
  color: var(--accent-font-color);
  background: var(--primary-color-dark);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.speech-bubble-left::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 30px;
  height: 30px;
  transform: skewX(45deg);
  background: var(--primary-color-dark);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.speech-bubble-right {
  background: var(--accent-color);
  color: white;
  font-weight: var(--font-weight-bold);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.speech-bubble-right::before {
  content: '';
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  transform: skewX(-45deg);
  background: var(--accent-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.speech-bubble-left p,
.speech-bubble-right p {
  position: relative;
  margin: var(--space-normal);
}

/* .speech-bubble-right p {
  text-align: right;
} */

/* faqs */
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* contact */

.social-bag-container a {
  color: var(--accent-font-color);
}

/* form */
.contact-form-container {
  position: relative;
  margin: var(--space-medium) 0;
  padding: var(--space-normal);
  background-color: var(--primary-color-dark);
  color: var(--accent-font-color);
  display: block;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px var(--primary-color), 0 4px 8px var(--primary-color);
}

form h3 {
  text-align: center;
}

.contact-form-field {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--space-small);
}

.contact-form-field label {
  font-weight: var(--font-weight-bold);
  width: 100%;
}

.contact-form-field label,
.contact-form-field .field-element {
  margin: 5px 0;
}

.contact-form-field label {
  cursor: pointer;
}

.contact-form-field .field-element {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* text input */
.contact-form-field input[type="text"],
.contact-form-field input[type="email"],
.contact-form-field textarea {
  width: 100%;
  padding: var(--space-small) var(--space-normal);
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
  font-family: var(--primary-font-family);
  color: #325050;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-p);
  line-height: var(--line-height);
}

.contact-form-field textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: calc(var(--font-size-p) * 9);
  resize: vertical;
}

.contact-form-field input[type="text"]:hover,
.contact-form-field input[type="text"]:focus,
.contact-form-field input[type="email"]:hover,
.contact-form-field input[type="email"]:focus,
.contact-form-field textarea:hover, 
.contact-form-field textarea:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}

/* checkbox */
.contact-form-field input[type="checkbox"] {
  margin-top: calc(var(--space-small) + 2px);
  margin-right: var(--space-normal);
}

/* button */
.contact-form-field button {
  margin-bottom: var(--space-small);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--primary-color);
  color: var(--accent-font-color);
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.contact-form-field button.active {
  opacity: 1.0;
  cursor: pointer;
}

.contact-form-field button.active:hover,
.contact-form-field button.active:focus {
  outline: none;
  color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color), 0 0 10px var(--accent-color);
}

.contact-form-field button svg {
  margin: var(--space-small) var(--space-medium);
  width: var(--font-size-h2);
  height: var(--font-size-h2);
}

/* error */
.contact-form-field .field-error {
  display: block;
  background: var(--accent-color-light);
  border-radius: var(--border-radius);
  padding: var(--space-small) var(--space-normal);
  font-size: calc(var(--font-size-p) * 0.8);
  color: white;
  opacity: 0;
}

.contact-form-field:last-child .field-error {
  margin-left: auto;
  margin-right: auto;
}

.contact-form-field .field-error.active {
  opacity: 1;
}

/* contact */
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* footer */

footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--accent-font-color);
  background-color: var(--primary-color-dark);
  padding: var(--space-normal);
}

footer p {
  line-height: 1;
  margin: 5px 0;
  text-align: center;
}

/* footer */
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* Medium screen */

@media only screen and (min-width: 600px) {
  .social-bag-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* justify-content: space-around; */
    justify-content: flex-start;
  }
}

/* Medium screen */
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* Large screen */

@media only screen and (min-width: 992px) {

  :root {
    font-size: 18px;
  }

  .section-container {
    margin: calc(var(--space-large) * 2) 5vw;
  }

  /* ------------------------------------------------------------------------------ */
  /* nav */

  .nav-container {
    padding: 0 var(--space-large);
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }

  .nav-toggle-button {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    top: 0px;
    left: unset;
    padding-top: unset;
    background: unset;
    text-align: center;
    height: unset;
    width: unset;
  }

  .nav-menu.active {
    left: unset;
  }

  .nav-menu ul {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .nav-menu-item {
    max-width: unset;
    min-width: unset;
    margin: 0 var(--space-normal);
    padding: 0 var(--space-small);
    border: none;
    align-items: center;
    justify-content: center;
  }

  .nav-menu-item.active {
    left: unset;
  }

  .nav-menu-item:hover {
    outline: none;
    left: unset;
  }

  .nav-menu-item::before {
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0;
    background: var(--accent-color);
    transform: scaleX(0);
    transform-origin: center;
  }

  .nav-menu-item.active::before {
    transform: scaleX(1);
  }

  .nav-menu-item:hover::before {
    transform: scaleX(1);
  }

  .nav-menu-item a {
    padding: 0;
    margin: 0;
    color: var(--accent-font-color);
    font-size: var(--font-size-p);
  }
  
  .nav-menu-item a:hover {
    color: var(--accent-color);
  }

  /* nav */
  /* ------------------------------------------------------------------------------ */

  /* ------------------------------------------------------------------------------ */
  /* home */

  .home-container {
    width: 100%;
    flex-direction: row;
  }

  .special-btn {
    margin: var(--space-large) 0;
  }

  .person-card-container {
    margin-top: 10vh;
  }

  /* home */
  /* ------------------------------------------------------------------------------ */

  /* ------------------------------------------------------------------------------ */
  /* portfolio */

  /* intro */
  .portfolio-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .portfolio-intro > div {
    margin-right: var(--space-large);
  }

  .portfolio-intro aside {
    margin: 0;
    min-width: 35%;
  }

  /* portfolio */
  /* ------------------------------------------------------------------------------ */
  
  /* ------------------------------------------------------------------------------ */
  /* about */
  
  .about-skill {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "language framework"
    "language tool";
    column-gap: var(--space-medium);
    row-gap: var(--space-medium);
    margin-top: var(--space-large);
  }

  .skill-container {
    justify-self: center;
    align-self: stretch;
    
    margin: 0;
  }

  .skill-container:first-child {
    grid-area: language;
  }

  .skill-container:nth-child(2) {
    grid-area: framework;
  }

  .skill-container:last-child {
    grid-area: tool;
  }
  /* about */
  /* ------------------------------------------------------------------------------ */



  /* ------------------------------------------------------------------------------ */
  /* contact */
  #contact .section-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }

  .contact-form-container {
    width: 100% ;
    margin-left: var(--space-large);
  }

  /* contact */
  /* ------------------------------------------------------------------------------ */
  
  /* ------------------------------------------------------------------------------ */
  /* footer */

  footer {
    height: calc(var(--space-large) * 1.5);
    display: flex;
    flex-direction: row;
    padding: var(--space-normal) var(--space-large)
  }

  footer p {
    display: inline-block;
  }

  footer p:nth-child(2) {
    float: left;
  }

  footer p:last-child {
    float: right;
  }

  footer p:first-child {
    position: absolute;
    left: calc(50% - var(--font-size-logo) * 0.5);
  }

  /* footer */
  /* ------------------------------------------------------------------------------ */
  
}

/* Large screen */
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/* Wide screen */

@media only screen and (min-width: 1200px) {
  :root { 
    font-size: 20px;
  }
  .section-container {
    margin: calc(var(--space-large) * 2) calc(50vw - 540px);
  }

  .special-btn {
    margin: calc(var(--space-large) * 2) 0;
  }
}

/* Wide screen */
/* -------------------------------------------------------------------------------- */